ServerTest/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WorkPlanClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WorkPlanClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkPlanClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPlanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPlanState" type="tns:WorkPlansStates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkPlanClass" nillable="true" type="tns:WorkPlanClass" />
  <xs:simpleType name="WorkPlansStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Executed" />
      <xs:enumeration value="Cancelled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkPlansStates" nillable="true" type="tns:WorkPlansStates" />
</xs:schema>