ServerTest/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54862/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WorkPlanClass" />
  <xs:complexType name="WorkPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPlanName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkPlanClass" minOccurs="0" name="WorkPlanState" type="q1:WorkPlansStates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkPlan" nillable="true" type="WorkPlan" />
</xs:schema>