ServerTest/Connected Services/Server/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWorkPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkPlan" nillable="true" type="WorkPlan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkPlan" nillable="true" type="ArrayOfWorkPlan" />
  <xs:complexType name="WorkPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Instructions" nillable="true" type="ArrayOfInstruction" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="WorkPlanStates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkPlan" nillable="true" type="WorkPlan" />
  <xs:complexType name="ArrayOfInstruction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Instruction" nillable="true" type="Instruction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstruction" nillable="true" type="ArrayOfInstruction" />
  <xs:complexType name="Instruction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Switches" nillable="true" type="ArrayOfSwitch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruction" nillable="true" type="Instruction" />
  <xs:complexType name="ArrayOfSwitch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Switch" nillable="true" type="Switch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSwitch" nillable="true" type="ArrayOfSwitch" />
  <xs:complexType name="Switch">
    <xs:sequence>
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
      <xs:element minOccurs="0" name="Switch_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Switch" nillable="true" type="Switch" />
  <xs:simpleType name="WorkPlanStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Executed" />
      <xs:enumeration value="Cancelled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkPlanStates" nillable="true" type="WorkPlanStates" />
</xs:schema>